#img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  padding: 0;
  margin-right: 5px;
}

#description{
  margin: 0;
  padding: 0;
}

#icon-container{
  margin-left: 1px;
}
#icon-services{
  color: #fff;
  background-color: #152674;
  padding: 5px;
  border-radius:20px
}

.card-title{
  font-size: 2vh;
}

#parking-info{
  margin: 0;
  padding: 0;
  padding-right: 5px;
}
.fa-arrow-right{
  color: #152674;
  margin-right: 10px;
}

.card-body{
  margin: 0;
}

hr{
  width: 90%;
  margin-left: 5%;
}

#dolar{
  color: #152674;
}

.total{
  color: #152674;
  font-weight: 600;
}

#general-carousel{
  border: solid red 2px;
  width: 90%;
  height: 60%;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 769px){
  #general-carousel{
    border: solid red 2px;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
