#img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  padding: 0;
  margin-right: 5px;
}

#description{
  margin: 0;
  padding: 0;
}

#icon-services{
  color: #fff;
  background-color: #252525;
  padding: 5px;
  border-radius:20px
}
