#img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  padding: 0;
  margin-right: 5px;
}

#description{
  margin: 0;
  padding: 0;
}

#icon-services{
  color: #fff;
  background-color: #152674;
  padding: 5px;
  border-radius:20px
}

.card{
  min-height: 26vh;
}

.fa-arrow-right{
  color: #152674;
  margin-right: 10px;
}

#dolar{
  color: #152674;
}

.total{
  color: #152674;
  font-weight: 600;
}

.carousel-inner{
}


