<div class="container mt-4">
  <h1 class="text-centers">Fill all the information to add a new parking</h1>
  <br>
  <form action="" [formGroup]="parking_form">
    <div class="row">
      <div class="col-12 col-md-6 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Address</label>
        <input type="text" class="form-control" formControlName="address" placeholder="Street #10, Main Avenue">
        <div *ngIf="parking_form.controls['address'].invalid && (parking_form.controls['address'].dirty || parking_form.controls['address'].touched)" class="text-danger">
          <div *ngIf="parking_form.controls['address'].errors.required">
          <small><i class="fa-solid fa-circle-exclamation" id="exclamation"></i>Please enter address</small>
        </div>
      </div>
      </div>
      <div class="col-12 col-md-6 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Type</label>
        <select class="form-select" formControlName="type" aria-label="Default select example">
          <option value="Private">Private</option>
          <option value="Public">Public</option>
        </select>
        <div *ngIf="parking_form.controls['type'].invalid && (parking_form.controls['type'].dirty || parking_form.controls['type'].touched)" class="text-danger">
          <div *ngIf="parking_form.controls['type'].errors.required">
            <small><i class="fa-solid fa-circle-exclamation" id="exclamation"></i>Please select type</small>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Score</label>
        <input type="number" class="form-control" formControlName="score" min="1" max="5" placeholder="Street #10, Main Avenue">
      </div>
      <div class="col-12 col-md-6 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Price</label>
        <input type="text" class="form-control" formControlName="price" placeholder="name@example.com">
      </div>
      <hr class="mt-3">
      <div class="col-12 mt-1">
        <label for="exampleFormControlInput1" class="form-label">Amenities</label>
        <input type="hidden" class="form-control" formControlName="amenities" placeholder="name@example.com">

        <form [formGroup]="amenitiesForm" class="row">
            <span class="col-12 col-md-6" *ngFor="let service of services; let amenitie of amenitiesForm.get('amenities')['controls'] ;let i = index">
              <span class="" formArrayName="amenities"><input class="form-check-input" type="checkbox" name="" id="" [formControlName]="i"> {{services[i].name}}</span>
            </span>
        </form>

      </div>
      <div class="col-12 col-md-12 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <input type="file" name="" id="" formControlName="image">
    </div>
  </form>
  <br>

  <button class="btn btn-success mt-1 mb-1" (click)="save_parking()" [disabled]="!parking_form.valid">Continue</button>

</div>
